# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Python Section
__pycache__/
nba-bets/create-env.sh

# Ignore bot.py in py_grpc_server as it is a temporary file
py_grpc_server/bot.py

# This is what is passed to the bot, do not override
tmp/
.DS_Store
.ipynb_checkpoints/

build/
blitz_env.egg-info/
blitz_env/agent_pb2_grpc.py
blitz_env/agent_pb2.py
blitz_env/agent_pb2.pyi
blitz_env/loadPlayers.py
blitz_env/player_ranks_2024.csv