boto3==1.24.84
botocore==1.27.84
certifi==2022.9.24
charset-normalizer==2.1.1
grpcio==1.66.0
grpcio-tools==1.66.0
idna==3.4
jmespath==1.0.1
numpy==1.26.4
pandas==2.1.4
protobuf==5.27.4
python-dateutil==2.8.2
pytz==2024.1
s3transfer==0.6.0
six==1.16.0
tzdata==2024.1
urllib3==1.26.12
nfl-data-py==0.3.1
openai==1.45.0
https://github.com/mitchwebster/botblitz/raw/b3a101a5413ca42ee7eab16815496a9befa7abd7/dist/blitz_env-0.1.0-py3-none-any.whl